{{define "content"}}
<h1>Вход</h1>
{{if .Error}}<div class="err">{{.Error}}</div>{{end}}

<form method="post" class="row">
    <div class="form-group">
        <label for="email">Email</label>
        <div class="input-wrapper">
            <input name="email" type="email" id="email" required placeholder="Введите свой email">
        </div>
    </div>
    <div class="form-group">
        <label for="password">Пароль / Одноразовый код (OTP)</label>
        <div class="input-wrapper">
            <input name="password" type="password" id="password" required placeholder="Введите пароль" autocomplete="new-password">
        </div>
    </div>
    <div style="flex-basis: 100%">
        <button type="submit">Войти</button>
    </div>
</form>

<p class="muted">
    <a href="/register">Регистрация</a> · <a href="/restore">Забыли пароль?</a>
</p>
{{end}}