{{define "content"}}
<h1>Регистрация</h1>
{{if .Error}}<div class="err">{{.Error}}</div>{{end}}

<form method="post" class="row">
    <div class="form-group">
        <label for="email">Email</label>
        <div class="input-wrapper">
            <input name="email" type="email" id="email" required placeholder="Введите свой email">
        </div>
    </div>
    <div style="flex-basis: 100%">
        <button type="submit">Отправить код на почту</button>
    </div>
</form>

<p class="muted"><a href="/login">Назад ко входу</a></p>
{{end}}