{{define "content"}}
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h1 style="margin: 0;">История операций</h1>
    <a href="/me/wallets/{{.Wallet.ID}}" style="font-weight: 500; white-space: nowrap;">← Назад</a>
</div>
<p class="muted" style="font-family: monospace;">Счет: {{.Wallet.ID}}</p>

{{if .Transactions}}
<table>
    <thead>
        <tr>
            <th>Дата</th>
            <th>Тип</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        {{range .Transactions}}
        <tr>
            <td>{{prettyDate .CompletedAt}}</td>
            <td>
                {{if eq .OpType "DEPOSIT"}}<span style="color: #45a049;">Пополнение</span>
                {{else if eq .OpType "WITHDRAW"}}<span style="color: #e53935;">Вывод</span>
                {{else if eq .OpType "TRANSFER"}}<span style="color: rgb(49, 49, 235);">Перевод</span>
                {{else}}{{.OpType}}{{end}}
            </td>
            <td>
                {{if or (eq .OpType "WITHDRAW") (and (eq .OpType "TRANSFER")  (ne (strVal .ReceiverWalletID) $.Wallet.ID))}}
                    <span style="color: #e53935;">-{{formatMoney .Amount}}</span>
                {{else}}
                    <span style="color: #45a049;">+{{formatMoney .Amount}}</span>
                {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>

<!-- ПАГИНАЦИЯ -->
<div style="display: flex; justify-content: space-between; align-items: center; margin-top: 25px;">
    <div>
        {{if .HasPrev}}
            <a href="?page={{.PrevPage}}" style="text-decoration: none;">
                <button type="button" style="background: var(--bg-box); color: var(--text); border: 1px solid var(--border);">← Назад</button>
            </a>
        {{else}}
            <button type="button" disabled style="opacity: 0.5; cursor: not-allowed; background: var(--bg-box); color: var(--text); border: 1px solid var(--border);">← Назад</button>
        {{end}}
    </div>
    
    <div class="muted" style="font-weight: 500;">
        Страница {{.CurrentPage}} из {{.TotalPages}}
    </div>
    
    <div>
        {{if .HasNext}}
            <a href="?page={{.NextPage}}" style="text-decoration: none;">
                <button type="button" style="background: var(--bg-box); color: var(--text); border: 1px solid var(--border);">Вперед →</button>
            </a>
        {{else}}
            <button type="button" disabled style="opacity: 0.5; cursor: not-allowed; background: var(--bg-box); color: var(--text); border: 1px solid var(--border);">Вперед →</button>
        {{end}}
    </div>
</div>

{{else}}
    <p class="muted">Транзакций пока нет.</p>
{{end}}
{{end}}