{{define "content"}}
<h1>Управление счетами</h1>
{{if .Error}}<div class="err">{{.Error}}</div>{{end}}

<form method="post" action="/me/wallets" class="actions" style="max-width: 200px;">
    <button type="submit">+ Создать счет</button>
</form>

<hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">

<table>
    <thead>
        <tr>
            <th>UUID Счета</th>
            <th>Баланс</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {{range .Wallets}}
        <tr>
            <td style="font-family: monospace;">{{.ID}}</td>
            <td><strong>{{formatMoney .Balance}}</strong></td>
            <td><a href="/me/wallets/{{.ID}}">Управление</a></td>
        </tr>
        {{end}}
    </tbody>
</table>
{{end}}